body {
    font-family: sans-serif;
    /* background-color: rgba(33, 32, 32, 0.3); */
}
#container {
    width: 40%;
    height: 550px;
    border: 2px solid white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 2%;
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 2;
    background-color: #fff;
    display: none;
}
#add {
    text-align: center;
    font-size: 20px;
    margin: 5% auto 1.2%;
}
#please {
    text-align: center;
    font-size: 13px;
    color: rgb(155, 155, 155);
    margin-bottom: 5%;
}
#area {
    border-bottom: 1px solid grey;
}
#area>.fields-name+div {
    margin-bottom: 4%;
    display: flex;
}
.fields-name {
    font-size: 14px;
    color: rgb(79, 79, 79);
    margin-bottom: 1%;
}
#area button {
    margin-left: 4%;
    color: green;
    background-color: white;
    border-radius: 2px;
    border: 0;
    border: 1px solid grey;
    padding: 1% 4%;
}
.fields {
    margin: 3% 7%;
}
#radio {
    display: flex;
    margin:-6% 7% 2%;
}
#radio input[name="address-type"] {
    accent-color: green;
}
#radio div {
    margin-right: 4%;
    margin-top: 0.3%;
}
.fields input {
    height: 30px;
    width: 98%;
    font-size: 17px;
}
#buttons {
    margin: 5% 7% 0;
}
#buttons button:nth-of-type(1) {
    background-color: green;
    color: white;
    border: 0;
    border-radius: 4px;
    height: 45px;
    width: 27%;
    font-size: 18px;
    margin-right: 2%;
}
#buttons button:nth-of-type(2) {
    background-color: white;
    border: 0;
    border: 1px solid grey;
    border-radius: 4px;
    height: 45px;
    width: 27%;
    font-size: 18px;
    margin-right: 2%;
}