*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

body {
    color: #666;
    font-size: 12px;
    font-family: Helvetica;
}

#nav {

    background-color: #ffe141;
    height: 64px;
    width: 100%;
    color: black;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;

    font-size: 14px;
    font-weight: lighter;

}

#logo {
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#logo > a {
    color: inherit;
    cursor: pointer;

    height: 100%;
    margin-left: 15px;

    text-decoration: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 92px;
    height: 35px;
    aspect-ratio: auto 94 / 35;
    border-style: none;
}

#btn-toggle-cart {
    background-color: #0c831f;
    border-radius: 58px;
    color: #fff;
    background-position: 22px;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    height: 40px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-weight: lighter;
}

.fa-shopping-cart {
    color: #fff;
    font-size: 12px;
}

.nav__left {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    width: 20%;
}

.location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.h3 {
    font-weight: bold;
    font-size: 22px;
}

#nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    height: 100%;
}

#searchbar {
    width: 90%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    overflow: hidden;
    height: 70%;
    color: #666;
    padding: 10px;
}

@media screen and (max-width: 1580px) {
    .nav__items-count,
    .location-info,
    .nav_profile,
    .nav__app-link {
        display: none;
    }
}

#cart {
    position: fixed;
    width: 360px;
    top: 82px;
    min-height: 100vh;
    overflow-y: scroll;
    z-index: 0;
    height: 100%;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}

.cart-page {
    background-color: whitesmoke;
}

.cart__title {
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    padding: 16px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 10px;
    line-height: 20px;
}

.cart-container {
    height: calc(100% - 96px);
    background-color: white;
}

.cart-container h2 {
    padding: 16px 12px 0;
    color: black;
    font-size: 16px;
}

.cart-container h4 {
    font-weight: lighter;
    padding: 4px 12px;
    margin-bottom: 12px;
    color: black;
    font-size: 12px;
}

.flex-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
}

hr {
    border-top: 1px solid whitesmoke;
}

.cart-items {
    overflow: scroll;
}

.cart-item {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
}

.cart-item > img {
    width: 150px;
    height: 150px;
}

.cart-item h3 {
    color: black;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.cart-item h2 {
    color: black;
    margin-left: -12px;
}

.cart-item h5 {
    font-weight: lighter;
    position: relative;
    top: 32px;
}

.cart-item button {
    background-color: #ffe141;
    border: none;
    border-radius: 20px;
    padding: 3px 6px;
    color: black;
    font-weight: bold;
    position: relative;
    top: 14px;
    left: 120px;
}

.cart-item p {
    display: inline;
    position: relative;
    top: 14px;
    left: 120px;
    padding: 8px;
}

.checkout {
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.checkout__delivery--title {
    color: black;
    overflow: hidden;
    margin: 12px 64px;
}

.checkout__delivery--sub {
    overflow: hidden;
    margin:  12px 64px;
}

#btn-checkout {
    height: 46px;
    color: white;
    font-weight: bold;
    background-color:#0c831f;
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 14px;
}