*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}


body {
    background-color: #f9f9f9;
    color: #666;
    box-sizing: border-box;
    font-family: Helvetica;
    display: block;
}

#nav {

    background-color: #ffe141;
    height: 64px;
    width: 100%;
    color: black;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);

    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;

    font-size: 14px;
    font-weight: lighter;

    position: fixed;
    z-index: 1000;
    top: 0;
}

#logo {
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#logo > a {
    color: inherit;
    cursor: pointer;

    height: 100%;
    margin-left: 15px;

    text-decoration: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    width: 92px;
    height: 35px;
    aspect-ratio: auto 94 / 35;
    border-style: none;
}

#nav-text-container {
    font-size: 14px;
    margin-top: 22px;
    font-weight: lighter;
    height: 64px;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.item-1 {
    background-image: url("https://blinkit.com/images/checkout/replacement-guarantee_2x-65edd6a.png");
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 40px;
    padding-left: 24px;
}

.item-2 {
    background-image: url("https://blinkit.com/images/checkout/genuine-products_2x-b5f0c7f.png");
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 40px;
    padding-left: 24px;
}

.item-3 {
    background-image: url("https://blinkit.com/images/checkout/secure-payments_2x-66f0eb4.png");
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 40px;
    padding-left: 24px;
}

main {
    display: block;
}

.checkout-wrapper {
    margin-bottom: 120px;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 982px;
    /* height: 300px; */
    color: #666;
    font-size: 14px;
}

.wrapper {
    display: block!important;
    float: none!important;
    margin-left: auto!important;
    margin-right: auto!important;
    clear: both!important;
}

.checkout-left-display {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 22%);
    float: left;
    width: 672px;
}

.checkout-step {
    border-top: 1px solid #f2f2f2;
    padding: 20px 26px;
    display: grid;
    grid-template-columns: 52px auto;

}

.fa {
    color: #54b226;
    margin-top: 4px;
    padding: 4px;
    font-size: 24px;
}

.checkout-step__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    flex-wrap: wrap;
    gap: 6px;
}

.number-three {
    color: #54b226;
    margin-top: 4px;
    padding: 4px;
    font-size: 10px;
    width:fit-content;
    height: fit-content;
    border: #54b226 solid 1px;
    border-radius: 100px;
}

.number-three > div {
    padding: 4px 8px;
    font-weight: bolder;
}

.checkout-step__content-lead {
    font-weight: bold;
}

.checkout-right-display {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 22%);
    display: block;
    color: #666;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    color: #666;
    font-size: 14px;
    margin-bottom: 14px;
    width: 292px;
    float: right;
}

.checkout-cart__box {
    color: #666;
    font-size: 14px;
    height: 35px;
    padding: 16px 20px 0;
    margin-bottom: 14px;
    background-color: #fbfbfb;
    border-radius: 3px;
    border-top: 1px solid #eee;
}

.checkout-cart__title {
    display: inline-block !important;
    font-weight: bold;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout-cart__item-count {
    float: right;
}

.checkout-cart__item {
    background: #fff;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    padding: 16px 20px;
    width: 100%;
    vertical-align: middle;
    align-items: center;
}

.checkout-step__name {
    font-size: 20px; 
    vertical-align: middle;
    color: #333;
    padding-bottom: 26px;
    padding-top: 6px;
}

.payment {
    padding-right: 32px;
}


.payment-invoice {
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 16px;
    padding: 22px 30px;
    position: relative;
    width: 100%;
}

.payment-invoice__row {
    margin-bottom: 12px;
    color: #666;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

hr {
    border-top: 1px dotted #dbdbdb;
}

.payment-invoice__total {
    font-weight: bold;
    padding: 20px 0;
}

.payment-invoice__total span {
    font-weight: lighter;
    font-size: 12px;
}

.payment-promo {
    margin: 0 0 16px;
    font-weight: bold;
    color: #0c831f;
    border-radius: 3px;
    border: 1px solid #eee;
}

.fa-gift {
    color: #3a8421;
    font-size: 18px;
    padding: 16px;
}

.payment-options {
    color: #999;
    margin-top: 6px;
}

.payment-options__tabs {
    table-layout: fixed;
    display: flex;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.payment-options__tabs > li {
    cursor: pointer;
    display: table-cell;
    font-weight: bold;
    list-style-type: none;
    padding: 12px 0;
    text-align: center;
    position: relative;
    flex: 1;
    border: 1px solid #eee;
    min-width: min-content;
}

.payment-options__tabs--selected {
    background-color: #0c831f;
    border-bottom: none;
    color: #fff;
}

.soft-bottom {
    padding-bottom: 10px;
}

.payment-wallets {
    height: 260px;
    overflow-y: auto;
}

.list-inline {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #eee;
}

.wallet-opt {
    margin: 8px 0;
    padding: 16px;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.wallet-type {
    height: 44px;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block!important;
    width: 64px;
}

.wallet-type > img {
    display: inline-block;
    height: auto;
    margin: 0;
    max-height: 44px;
    max-width: 64px;
    width: auto;
}

.payment-wallet__details {
    width: calc(100% - 100px);
    vertical-align: middle;
    display: inline-block;
}

.radio-element {
    color: #0c831f;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 14px;
    vertical-align: top;
    width: 14px;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 100%;
    background-color: #0c831f;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ccc;
}

.payment-wallet__details--title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.payment-wallet__details--sub {
    font-size: 12px;
    line-height: 150%;
    display: flex;
    flex-wrap: wrap;
}

.payment-btn-holder {
    border-top: 1px solid #f2f2f2;
    padding: 20px;
}

.btn {
    display: inline-block;
    width: 100%;
    background: #0c831f;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    padding: 13px 12px;
    text-align: center;
}

.bottom-text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.payment-option-display__hidden {
    display: none;
}

.payment-option-display__shown {
    display: block !important;
}

.new-card {
    padding: 32px 66px;
    width: 539px;
}

.new-card__cardno {
    margin-bottom: 16px;
    font-size: 12px;
}

.push__half--bottom{
    margin-bottom: 5px;
}

.relative {
    position: relative;
}

.input {
    overflow: visible;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: text;
    font-size: 14px;
    outline: 0;
    padding: 12px 10px;
}

.upi__verify-button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #0c831f;
    background-color: #fff;
    padding: 5px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

.bank-offer__validations {
    margin-top: 12px;
    margin-bottom: 24px;
}

.tab {
    border: 1px solid #eee;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 360px;
    background-color: #fff;
    border-radius: 3px;
    width: 535px;
    font-size: 12px;
}

.display--inline-block {
    display: inline-block;
}

.input-group {
    width: 104px;
    margin: 0;
}

.new-card__save {
    margin: 30px 0;
}

.checkbox {
    margin-right: 10px;
    background-color: #0c831f;
    size: 18px;
}

.bold-text {
    font-size: 14px;
    font-weight: bold;
}

.push-left {
    margin-top: 5px;
    margin-left: 25px;
}

.checkout-cart__item img {
    width: 50px;
}

.checkout-cart__item h6 {
    padding-left: 10px;
    padding-bottom: 4px;
    font-size: 12px;
    overflow: hidden;
    width: 80%;
    font-weight: lighter;
    text-overflow:ellipsis;
    white-space: nowrap;
}


.checkout-cart__item h5 {
    padding-left: 10px;
    padding-top: 4px;
    font-size: 12px;
    overflow: hidden;
}

/* Medium screen */
@media screen and (max-width: 1020px) {
    #nav-text-container {
        display: none;
    }

    .checkout-left-display {
        width: 100%;
        margin-top: -48px;
    }

    .checkout-right-display {
        display: none;
    }
}
