*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.subMenuParent{
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}
.subMenu{
    padding: 8px;
    background: #fff;
}

.subMenu > a{
    font-family: okra,helvetica;
    font-size: 14px;
    color: gray;
}
 
.products{
    margin-top: 20px;
    border-right: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.22);
}

.productCat{
    overflow-y: scroll; 
    height: 500px;
}

.productCatList{
    padding: 17px 14px 18px 30px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.background-effect{
    background-color: green;
    color: white;
}
/* .productCatList:hover{
    cursor: pointer;
    background-color: rgba(102, 102, 102, 0.1);
} */

/* product css */
#product_div{
    margin-top: 5px;
    border: 1px solid rgba(211, 211, 211,0.5);
}
#product_div:hover{
    cursor: pointer;
    border: 1px solid rgb(211,211,211,1);
}
img{
    margin-top: 10px;
    margin-left: 30px;
    width: 120px;
    height: 120px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
img:hover{
    top: -10px;
}

    
#small_div{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    
}
#very_small{
    display: flex;
    flex-direction: column;
    margin-top: 2px; 
    color: #333;
    font-weight: 500;
    font-size: 16px;

    }
#duttom{
    border-radius: 15px;
    padding: 0px 10px ;
    background: #FFE141;
    border: none;
    height: 32px;
    width: 98px;
    align-items: center;
}
