*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.subMenuParent{
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}
.subMenu{
    padding: 8px;
    background: #fff;
}

.subMenu > a{
    font-family: okra,helvetica;
    font-size: 14px;
    color: gray;
}

.col-3,.col-9{
    height: 500px;
}

.products{
    margin-top: 20px;
    border-right: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.22);
}

.productCat{
    overflow-y: scroll;
}

.productCatList{
    padding: 17px 14px 18px 30px;
    border-bottom: 1px solid lightgray;
}

.productCatList:hover{
    cursor: pointer;
    background-color: rgba(102, 102, 102, 0.1);
}


.features{
    margin-top: 100px;
}

.featuresCard{
    display: flex;
}
.featuresCard p {
    font-size: 12px;
    color:  gray;
}
ul li {
    font-size: 14px;
    color: #666666;
}

.features{
    padding-bottom: 80px;
}

.categories{
    border-top: 1px solid #eee;
}